<div>
  <form [formGroup]="usuarioForm" (ngSubmit)="cadastrarNovoUsuario()">
    <div class="form-group">
      <label for="signupName">Nome</label>
      <input formControlName="nome" type="text" placeholder="Nome" >
    </div>
    
    <div class="form-group">
      <label for="signupBirthdate">Data de Nascimento</label>
      <input formControlName="dataNascimento" type="date">
    </div>
    
    <div class="form-group">
      <label for="signupPhone">Telefone Celular</label>
      <input formControlName="telefone" type="tel" placeholder="Telefone">
    </div>
    
    <div class="form-group">
      <label for="signupEmail">E-mail</label>
      <input formControlName="email" type="email" placeholder="E-mail">
    </div>
    
    <div class="form-group">
      <label for="signupPassword">Senha</label>
      <input formControlName="senha" type="password" placeholder="Senha">
    </div>
    
    <div class="form-group">
      <label for="signupConfirmPassword">Confirmar Senha</label>
      <input formControlName="confirmarSenha" type="password" placeholder="Confirme a senha">
    </div>
    
    <button type="submit" [disabled]="!usuarioForm.valid">Cadastrar</button>
  </form>
</div>