<footer class="footer">
    <div class="footer-columns">
      <ul>
        <li class="footer-title">NOSSOS PRODUTOS</li>
        <li>Mouses</li>
        <li>Headsets</li>
        <li>Cadeiras gamers</li>
        <li>Teclados</li>
        <li>Monitores</li>
      </ul>
      <ul>
        <li class="footer-title">INSTITUCIONAL</li>
        <li>Sobre nós</li>
        <li>Fale Conosco</li>
        <li>Políticas de envio</li>
        <li>Política de privacidade</li>
      </ul>
      <ul>
        <li class="footer-title">AJUDA</li>
        <li>Como comprar</li>
        <li>Minha conta</li>
        <li>Meus pedidos</li>
        <li>Meus endereços</li>
      </ul>
      <ul>
        <li class="footer-title">CONTATOS</li>
        <li>📧 Techstorm&#64;gmail.com</li>
        <li>📞 (11) 95423-67-95</li>
        <li>📍 Rua Cristiano Olsen, nº 1902</li>
      </ul>
    </div>
    <div class="footer-bottom">
      <p>Copyright © Todos os direitos reservados</p>
    </div>
  </footer>