<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TechStorm</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  
</head>

<body>

  <nav class="main-nav">
    <ul class="menu">
      <li class="menu-item">Monitores</li>
      <li class="menu-item">Fones de ouvido</li>
      <li class="menu-item">Teclados</li>
      <li class="menu-item">Mouses</li>
      <li class="menu-item">Acessórios</li>
    </ul>
  </nav>

  <main class="main-content">
    <section class="banner">
      <div class="banner-description">
        <h1>HEADSET KNUP ONE LED PC PS4 X</h1>
        <h2>Alto desempenho em áudio gamer com tecnologia Wireless</h2>
        <p>
          Desenvolvido para proporcionar uma experiência de jogo de alto nível, é a escolha definitiva para quem busca
          alto
          desempenho e conforto incomparáveis.
        </p>
        <p class="price">R$ 189,99</p>
        <div class="action-buttons">
          <button class="btn buy-btn">COMPRAR</button>
          <button class="btn details-btn">DETALHES</button>
        </div>
      </div>

      <div class="banner-image">
        <img src="assets/imagens/Headset.png" alt="Headset Knup One" class="product-image" />

      </div>
    </section>

    <section class="catalog">
      <div class="catalog-title">
        <h1> MELHORES OFERTAS PARA VOCÊ </h1>
      </div>

      <div class="container">
        @for (produtos of ListaProdutos; track produtos) {

        <div class="card">
          <img [src]="'assets/imagens/' + produtos.imagem" [alt]="produtos.nome">
          <p><strong>{{produtos.nome}}</strong></p>
          <p class="preco">R$ {{ produtos.preco.toFixed(2).replace('.', ',') }}</p>
          <div class="card-buttons">
            <button class="btn-detalhes">Detalhes</button>
            <button class="btn-comprar">Comprar</button>
          </div>
        </div>
      }
      </div>  


    </section>
  </main>
</body>